a {
  text-decoration: none;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #f4d400;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.nav-link {
  padding-bottom: 0.2rem;
}

a:after {
  display: none;
}

@media (min-width: 768px) {
  a:after {
    display: block;
  }
}

img, svg {
  vertical-align: top;
}

